/* Generalité */
img{
    max-width:100%;
    height: auto;
}

p{
    padding:0px;
    margin:0px;
}

html{
    font-size:62.5%; /* taille de police 10px = 1rem */
    font-family: Lato;
    color: #333231;
}

body{
    font-size:1.4rem; /* taille de police 14px */
}


ul, li{
    list-style: none;
    padding:0px;
    margin:0px;
}

.main-container, .reass-content, .payment-content, .social-content, .footer-content, .cookie-content{
    width: 77.6%;
    margin:auto;
    display: flex; /* l'ensemble du site est en mode flex */
}

.main-container{
    flex-direction:column;
}

/* Généralité - Couleur de fond */

.main{
    background: #e8ebeb;
}

.reass{
    background: #393939;
}

.social{
    background: #558540;
}

.cookie{
    background: #f6f9f9;
}


/* Généralité - titre */
h1, h2, h3, h4{
    font-weight: bold;
    color: #333231;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.55;
}

h2 {
    font-size: 2rem;
    line-height: 1.65;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.67;
}

h4 {
    font-size: 1.6rem;
}

a, a:visited{
    text-decoration: none;
}

a:hover{
    color: #558540;
}

.left{
    float: left;
}

.right{
    float: right;
}

/********* CODE PERSONNEL NICO   *******/

/* Bloc reassurance */
.reass-content{
    padding:19px 0px 27px 0px;
}

.reass-content ul{
    display: flex;
    justify-content:space-around;
    width:100%;
}

.reass-content li{
    text-align: center;
}

.reass-content p{
    color:#ffffff;
    padding-top:5px;
}

/* Bloc payment */
.payment-content{
    justify-content: space-between;
    padding:30px 0px;
    font-size:1.6rem;
}

.payment-content span{
    line-height: 32px;
    margin-right:50px;
}

.column-1-3{
    /*width:40.4%;*/
    flex:2;
    text-align: center;
}

.payment-content ul{
    padding: 3px 0px 0px 0px;
    flex: 3;
}

.payment-content li{
    display: inline-flex;
    margin-right:25px;
}

.payment-content li:nth-child(3){
    display: inline-flex;
    margin-right:50px;
}

.payment-content li:nth-child(4){
    display: inline-flex;
    margin-right:0px;
}

.column-1-3 li{
    padding: 11px 25px;
    background: #e5e5e5;
    font-size: 1.6rem;
}

.column-1-3 li:nth-child(2){
    margin-right:0px;
}

/* Bloc social */
.social-content{
    justify-content: space-between;
    color: #fcffff;
    font-size:1.6rem;
    padding:22px 0px 13px 15px;
}

.social-content label{
    padding-right:10px;
}

.social-content .news div{
    display: inline-block;
}

.social-content .news{
    margin-right:65px;
}

.social-content #newsletter{
    border:none;
    width:190px;
    height:31px;
    padding:0px;
    border: none;
    border-radius: 0px;
}

.social-content input[type="button"]{
    /*border:none;
    background: #333231;
    width:115px;
    height:31px;
    color: #ffffff;
    text-transform: uppercase;
    font-size:1.4rem;*/

    background: #333231;
    width: 115px;
    height: 31px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: none;
    border-radius: 0px;
    vertical-align: top;
}

.social-content input[type="button"]:hover{
    background: #f19319;
}

.speak-about ul, .speak-about li{
    display: inline-flex;
}

.speak-about ul{
    margin-right:55px;
}

.speak-about span{
    display: inline-flex;
    top: -10px;
    position: relative;
}

.speak-about li{
    margin-right:15px;
}

.speak-about li a:hover{
    width:95%;
}

.speak-about li:first-child{
    margin-left:10px;
}

.speak-about li:last-child{
    margin-right:0px;
}

.special{
    font-size:1.2rem;
    text-transform: uppercase;
}

.special:after{
    display: inline-block;
    content:">>";
    margin-right: 5px;
    position: relative;
    top: -15px;
    right: -50px;
}

.special a{
    color: #ffffff;
}

/* bandeau footer avec colonne */

.footer-content{
    padding:34px 0px 24px 0px;
    font-size: 1.2rem;
}

.footer-content a, .footer-content a:visited{
    text-decoration: underline;
    color: #62605e;
    line-height:1.67;
}

.footer-content a:hover{
    color: #558540;
    cursor: hand;
}

.footer-content .column{
    flex:1;
    margin-right:50px;
}

.bloc-conseil{
    display: flex;
    flex:2;
}

/* TEST  */
.bloc-conseil .column{
    min-width:auto;
    min-height: auto;
}
/********/

.bloc-conseil li{
    margin: 0px 0px 20px 0px;
}

.bloc-conseil li:last-child{
    margin: 0px 0px 0px 0px;
}

.footer-content h4{
    margin-top:0px;
    padding-top:0px;
    margin-bottom:23px;
}

.footer-content p{
    margin-bottom:20px;
}

.footer-content .bloc-conseil .column{
    margin-right:30px;
    min-width: 0; /* corrige la déformation des images du au flex*/
    min-height: 0; /* corrige la déformation des images du au flex*/
}

.footer-content .bloc-conseil .column:last-child{
    margin-right:0px;
}


.phone span{

    color: #f19319;
    padding: 15px 10px 14px 10px;
    text-align: center;
    display: block;
    background-color: #393939;
    font-size: 1.6rem;
    border-radius: 3px;
    box-sizing: border-box;

   /* color: #f19319;
    padding: 15px 15px 14px 13px;
    display: block;
    background-color: #393939;
    width: 100%; /* 136px
    font-size: 1.6rem;
    border-radius: 3px;*/
}

.phone span:before{
    display: inline-block;
    content: '';
    height: 14px;
    width:14px;
    background:url("../img/icon-tel.png") no-repeat;
    background-size: contain;
    margin-right:12px;
}



/* bandeau cookie */
.cookie-content{
    padding:28px 0px 15px 0px;
    text-align: center;
}

.cookie-content p{
    margin:auto;
}

.text-cookie {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    color: #62605e;
}

.text-cookie a, .text-cookie a:visited{
    text-decoration: underline;
    color: #62605e;
}

/* produit complémentaire */
.extend-products{
    background: #ffffff;
    margin-bottom:53px;
    padding:20px 10px 8px 10px;
}

.extend-products h1{
    margin-top:0px;

}

.extend-products li{
    display: inline-block;
    border:solid 1px #eee8e3;
    width:241px;

}

.extend-products .produit{
    padding: 20px 10px;
    text-align: center;
}

.produit img{
    margin:15px 0px;
}

.extend-products p{
    text-align: left;
    margin-top: 11px;
}

.discount{
    font-size: 1.2rem;
    color: #62605e;
}

.discount span{
    text-decoration: line-through;
}

.extend-products ul{
    display: flex;
    justify-content: space-around;
}

.extend-products h2{
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: left;
    margin: 0px;
    padding:0px;

}

.extend-products div ul{
    justify-content: flex-end;
}

.extend-products div li{
    width:auto;

}

.price{
    font-size: 1.8rem;
    font-weight: bold;
    color: #558540;
    line-height:15px;
}

.extend-products div .star{
    width:14px;
    height:13px;
    border:none;
    background: url("../img/star.png") no-repeat;
    margin-right: 8px;
}

.extend-products div .star:last-child{
    background: url("../img/etoile-non-select.png") no-repeat;
    margin-right: 0px;
}

.ir{
    text-indent:-9999px;
}

/************* ZONE RESPONSIVE *************************************/

@media screen and (max-width: 1296px) {
    /* Affichage en dessous de 1296px petit desktop + tablette */

    .main-container, .reass-content, .payment-content, .social-content, .footer-content, .cookie-content{
        width:95%;
    }

    .special:after {
        top: -15px;
        right: -50px;
    }

    .phone span{
        padding: 15px 5px 14px 5px;
    }

    .social-content .news{
        margin-right: 35px;
    }

    .speak-about ul{
        margin-right: 30px;
    }

    .special {
        padding-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    /* Affichage en dessous de 800px tablette portrait*/
    .footer-content, .bloc-conseil, .social-content, .reass-content {
        flex-direction: column;
        text-align: center;
    }

    .payment-content{
        flex-direction: row;
    }

    .payment-content span{
        margin:0px;
        line-height: 36px;
    }

    .payment-content span, .payment-content ul, .payment-content div{
        flex:initial;
        padding:0px;
    }

    .payment-content ul{
        padding: 5px 0px 0px 0px;
    }

    .column-1-3 ul{
    padding: 0;
}


    .payment-content li, .payment-content li:nth-child(3){
        margin-right:5px;
    }

    .social-content{
        padding-left:0px;
        flex-direction: row;
    }

    .social-content label {
        padding: 0px 0px 5px 0px;
        display: inline-flex;
    }

    .social-content .news{
        margin:0px;
        line-height: 14px;

    }

    .social-content .special{
        padding:0px;
    }

    .speak-about ul{
        margin-right:0px;
    }
    
    .special:after{
        display: none;
    }

    .footer-content .column{
        margin:10px 0px;
    }
}

@media screen and (max-width: 600px) {
    
    /*  Pour debug */
    /*.main{
        display: none;
    }
    /******************/
    
    /* Affichage en dessous de 600px smartphone*/
    .footer-content, .bloc-conseil, .social-content, .payment-content, .reass-content {
        flex-direction: column;
        text-align: center;
    }

    .reass-content{
        padding: 10px 0px 10px 0px;
    }

    .reass-content ul {
        flex-direction: column;
    }

    .reass-content li {
        padding:10px 0px;
        border-bottom:solid 1px #efefef;
    }

    .reass-content li:last-child{
        border:none;
    }

    .bloc-conseil .column{
        margin-right:0px;
    }

    .column-1-3 ul {
        padding: 10px 0px 0px 0px;
    }

    .social-content #newsletter{
        width:auto;
    }

    .social-content div{
        margin-bottom:15px;
    }

    /* bloc produit */
    .list-produit {
        flex-direction: column;
        align-items:center;
    }

    .extend-products .produit{
        margin-bottom:15px;
    }


}



/********* FIN CODE PERSONNEL NICO   *******/

/***************************
    AIDE DE CONCEPTION


.large-price {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #558540;
}

.compte {
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.63;
    text-align: center;
    color: #333231;
}

.navigation {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-align: center;
    color: #696969;
}


.placeholder {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.71;
    text-align: center;
    color: #7f7f7f;
}

.main-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    color: #ffffff;
}

.tabs-title {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #62605e;
}

.tabs-title-active {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #558540;
}

.Avis {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #333231;
}

.Text-Style-10 {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    color: #333231;
}

.liste-footer {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.67;
    color: #62605e;
}

link {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    color: #558540;
}





*/
