/* Generalité */
img{
    max-width:100%;
    height: auto;
}

p{
    padding:0px;
    margin:0px;
}

html{
    font-size:62.5%; /* taille de police 10px = 1rem */
    font-family: Lato;
    color: #333231;
}

body{
    font-size:1.4rem; /* taille de police 14px */
}


ul, li{
    list-style: none;
    padding:0px;
    margin:0px;
}

.heading-container, .top-container, .middle-container, .main-navigation-container, .nav-open-container, .main-container, .reass-content, .payment-content, .social-content, .footer-content, .cookie-content{
    width: 77.6%;
    margin:auto;
    display: flex; /* l'ensemble du site est en mode flex */
}

.main-container{
    flex-direction:column;
}

/* Généralité - Couleur de fond */

.main{
    background: #e8ebeb;
}

.reass{
    background: #393939;
}

.social{
    background: #558540;
}

.cookie{
    background: #f6f9f9;
}


/* Généralité - titre */
h1, h2, h3, h4{
    font-weight: bold;
    color: #333231;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.55;
}

h2 {
    font-size: 2rem;
    line-height: 1.65;
}

h3 {
    font-size: 1.8rem;
    line-height: 1.67;
}

h4 {
    font-size: 1.6rem;
}

a, a:visited{
    text-decoration: none;
}

a:hover{
    color: #558540;
}

.left-NG{
    float: left;
}

.right-NG{
    float: right;
}

/********* CODE PERSONNEL PIERRE *******/

.products {
    margin: 20px 0px;
    padding: 16px 20px 20px 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height:auto;/*test*/
}

.products .breadcrumb {
    margin: 0px 0px 20px 0px;
    font-size:1.2rem;
}

.products .breadcrumb a, .products .breadcrumb a:visited {
    text-decoration: underline;
    color: #333231;
}

.products .breadcrumb a:hover{
    color: #558540;
}

.products-content {
    display: flex;
    flex-direction: row;
    
}

.products .column-3 {
    margin: 0px 30px 0px 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

.products .column-3:nth-child(2) ul li{
    border: 1px solid #eee8e3;
}

.products .column-3:nth-child(2) .avis ul li{
    border:none;
}

.products .column-3 h2{
    margin:0px 0px 25px 0px;
}

.products .column-3:nth-child(1){
    flex: 3;
    flex-direction: row;
}

.products .column-3:nth-child(2){
    flex: 4;
   /* margin-top: -20px;*/
}

.products-content .column-3:nth-child(1) ul li {
    border: 1px solid #eee8e3;
    margin: 0px 15px 5px 0px;
}

.products-content .column-3 a:nth-child(2) img {
    margin:10px 0px 0px 10px; /*test*/
}

.avis {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #333231;
}

.avis ul{
    padding: 1px 0px 0px 20px;
}

.avis:nth-child(3) ul{
    padding: 1px 0px 0px 49px;
}

.column-3 p {
    margin: 18px 0px 16px 0px;
}

.column-3 .couleur-sup li{
    margin-right:15px;
    margin-bottom: 17px;
}
.products .star {
    display: inline-block;
    height:13px;
    width:14px;
    margin-right:8px;
    background: url("../img/star.png") no-repeat 0px 0px;
}

.products .nostar {
    display: inline-block;
    height:13px;
    width:14px;
    margin-right:8px;
    background: url("../img/etoile-non-select.png") no-repeat 0px 0px;
}

.products .column-3:nth-child(2) li {
    display: inline-block;
}

.avis span {
   margin-right: 10px;
}

.avis a, .avis a:visited, .avis a:hover {
    text-decoration: underline;
    font-weight:normal;
    font-size:1.2rem;
    color:#558540;
  }

.social-bloc {
    border-top : 1px solid #eee8e3;
    padding-top: 17px;
}

.products .column-3:nth-child(2) .social-bloc ul li{
    border:none;
    margin-right:12px;
}

.social-bloc ul li{
    width:22px;
    height:22px;
}

/* 3e colonne */
.products .column-3:last-child{
    flex: 2;
    border: 1px solid #eee8e3;
    margin-right:0px;
    padding:20px 10px;
    align-items: center;
    margin-top: -25px;
    /*padding: 15px;*/
}

.column-3-content{
    padding-top:15px;
}

.column-3-content li {
   padding-bottom: 17px;
   padding-top: 20px;
   border-bottom : 1px solid #eee8e3;
   display:flex;
   justify-content: space-between;
}

.column-3-content li:first-child{
    padding-top:5px;
}

.column-3-content .price-solde {
    flex: 1;
    color: #62605e;
    text-decoration: line-through;
    font-size:1.2rem;
}

.column-3-content .price {
    margin-right: 9px;
    font-size: 2.4rem;
}

.column-3-content label {
   font-size: 1.6rem;
   color: #333231;
   padding-top: 7px;
}

.column-3-content select{
   font-size: 1.4rem;
   font-weight: bold;
   color: #333231;
   padding: 7px;
   border : 1px solid #eee8e3;

}

.column-3-content button{
    padding: 11px 25px;
    background: #558540;
    font-size: 1.6rem;
    border: none;
    color: white;
    font-family: Lato;
    font-weight: bold;
    border-radius: 3px;
 }

.column-3-content .info-expedition{
    margin-top:20px;
}

.column-3-content .info-expedition li{
    border: none;
    padding: 0px 0px 10px 0px;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.info-expedition li span {
    font-size: 1.4rem;
    font-weight: bold;
    color: #558540;
    margin: 0px 5px;

}

.info-expedition [id="available"] {
    font-size: 1.4rem;
    font-weight: bold;
    color:  #558540;
    padding-top: 15px;
}

.info-expedition [id="available"]:before{
    content:"";
    display: inline-block;
    height:17px;
    width:17px;
    margin-right:18px;
    background: url('../img/picto-available.png') no-repeat 0px 0px;
}

.info-expedition [id="shipping"]:before{
    content:"";
    display: inline-block;
    height:18px;
    width:22px;
    margin-right:13px;
    background: url('../img/picto-delivery.png') no-repeat 0px 0px;
}

/* zone responsive */
@media screen and (max-width: 1296px) {
    /* Affichage en dessous de 1296px petit desktop + tablette */

}


@media screen and (max-width: 875px) {
    /* Affichage en dessous de 875px tablette portrait*/
    .products-content {
        flex-direction: column;
    }

    .products .column-3:nth-child(1) {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 0px;
        min-width: 0;/*test*/
        min-height: 0;/*test*/
    }

    .products-content .column-3 a:nth-child(2) img {
        margin: 0px 0px 100px 0px;
        clear: both;
    }

    .products-content .column-3:nth-child(1) ul li {
        border: 1px solid #eee8e3;
        margin: 0px 15px 5px 0px;
        display: inline-flex;
    }
    .products .column-3:nth-child(2){
        margin-right:0px;
        align-items: center;
    }

    .social-bloc{
        border-top:none;
        padding-top:0px;

    }

    .products .column-3:last-child {
        display: block;
        flex: 0;
        flex-basis: 0%;
        border: none;
        margin-right: 0px;
        padding: 20px 10px;
        align-items: center;
        margin-top: 15px;
        padding: 0px;
    }

    .column-3-content button{
        margin:auto;
    }

    .products{
        min-height:995px;
    }

    .column-3-content{
        padding-top:0px;
        margin-top:-15px;

    }

}

@media screen and (max-width: 715px) {
    /* tablette specifique */


}


@media screen and (max-width: 600px) {
    /* Affichage en dessous de 600px smartphone*/
    .products-content .column-3:nth-child(1) ul li {
        margin: 0px 5px 5px 0px;
    }

    .products .column-3:last-child {
        flex-basis: 0%;
        flex: 1;
        border: none;
        margin-right: 0px;
        padding: 20px 10px;
        align-items: center;
        margin-top: 0px;
        padding: 0px;

    }

    .products{
        min-height:1050px; /*test*/
    }

    .products-content .column-3 a:nth-child(2) img {
        margin: 0px 0px 0px 0px;
        clear: both;
    }

    .avis ul {
        padding: 1px 0px 0px 10px;
    }

    .avis:nth-child(3) ul {
        padding: 1px 0px 0px 39px;
    }

    @media screen { @media (min-width: 0px) {} }{
    .products .column-3:last-child { /* HACK iphone  */
        height: 350px;
        top: -75px;
        position: relative;

    }
}
}


@media screen and (max-width: 320px) {
    /* ajustement sous 320px */
    .products-content .column-3:nth-child(1) ul li {
        margin: 0px 0px 5px 0px;

    }

    .products {
        padding: 16px 5px 20px 5px;
    }

    .products .star, .products .nostar{
        margin-right:0px;

    }

}


/********* FIN CODE PERSONNEL PIERRE *******/





/********* CODE PERSONNEL NICO   *******/

/* Bloc reassurance */
.reass-content{
    padding:19px 0px 27px 0px;
}

.reass-content ul{
    display: flex;
    justify-content:space-around;
    width:100%;
}

.reass-content li{
    text-align: center;
}

.reass-content p{
    color:#ffffff;
    padding-top:5px;
}

/* Bloc payment */
.payment-content{
    justify-content: space-between;
    padding:30px 0px;
    font-size:1.6rem;
}

.payment-content span{
    line-height: 32px;
    margin-right:50px;
}

.column-1-3{
    /*width:40.4%;*/
    flex:2;
    text-align: center;
}

.payment-content ul{
    padding: 3px 0px 0px 0px;
    flex: 3;
}

.payment-content li{
    display: inline-flex;
    margin-right:25px;
}

.payment-content li:nth-child(3){
    display: inline-flex;
    margin-right:50px;
}

.payment-content li:nth-child(4){
    display: inline-flex;
    margin-right:0px;
}

.column-1-3 li{
    padding: 11px 25px;
    background: #e5e5e5;
    font-size: 1.6rem;
}

.column-1-3 li:nth-child(2){
    margin-right:0px;
}

/* Bloc social */
.social-content{
    justify-content: space-between;
    color: #fcffff;
    font-size:1.6rem;
    padding:22px 0px 13px 15px;
}

.social-content label{
    padding-right:10px;
}

.social-content .news div{
    display: inline-block;
}

.social-content .news{
    margin-right:65px;
}

.social-content #newsletter{
    border:none;
    width:190px;
    height:31px;
    padding:0px;
    border: none;
    border-radius: 0px;
}

.social-content input[type="button"]{
    background: #333231;
    width: 115px;
    height: 31px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border: none;
    border-radius: 0px;
    vertical-align: top;
}

.social-content input[type="button"]:hover{
    background: #f19319;
}

.speak-about ul, .speak-about li{
    display: inline-flex;
}

.speak-about ul{
    margin-right:55px;
}

.speak-about span{
    display: inline-flex;
    top: -10px;
    position: relative;
}

.speak-about li{
    margin-right:15px;
}

.speak-about li a:hover{
    width:95%;
}

.speak-about li:first-child{
    margin-left:10px;
}

.speak-about li:last-child{
    margin-right:0px;
}

.special{
    font-size:1.2rem;
    text-transform: uppercase;
}

.special:after{
    display: inline-block;
    content:">>";
    margin-right: 5px;
    position: relative;
    top: -15px;
    right: -50px;
}

.special a{
    color: #ffffff;
}

/* bandeau footer avec colonne */

.footer-content{
    padding:34px 0px 24px 0px;
    font-size: 1.2rem;
}

.footer-content a, .footer-content a:visited{
    text-decoration: underline;
    color: #62605e;
    line-height:1.67;
}

.footer-content a:hover{
    color: #558540;
    cursor: pointer;
}

.footer-content .column{
    flex:1;
    margin-right:50px;
}

.bloc-conseil{
    display: flex;
    flex:2;
}

/* TEST  */
.bloc-conseil .column{
    min-width:auto;
    min-height: auto;
}
/********/

.bloc-conseil li{
    margin: 0px 0px 20px 0px;
}

.bloc-conseil li:last-child{
    margin: 0px 0px 0px 0px;
}

.footer-content h4{
    margin-top:0px;
    padding-top:0px;
    margin-bottom:23px;
}

.footer-content p{
    margin-bottom:20px;
}

.footer-content .bloc-conseil .column{
    margin-right:30px;
    min-width: 0; /* corrige la déformation des images du au flex*/
    min-height: 0; /* corrige la déformation des images du au flex*/
}

.footer-content .bloc-conseil .column:last-child{
    margin-right:0px;
}


.phone span{

    color: #f19319;
    padding: 15px 10px 14px 10px;
    text-align: center;
    display: block;
    background-color: #393939;
    font-size: 1.6rem;
    border-radius: 3px;
    box-sizing: border-box;
}

.phone span:before{
    display: inline-block;
    content: '';
    height: 14px;
    width:14px;
    background:url("../img/icon-tel.png") no-repeat;
    background-size: contain;
    margin-right:12px;
}



/* bandeau cookie */
.cookie-content{
    padding:28px 0px 15px 0px;
    text-align: center;
}

.cookie-content p{
    margin:auto;
}

.text-cookie {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    color: #62605e;
}

.text-cookie a, .text-cookie a:visited{
    text-decoration: underline;
    color: #62605e;
}

/* produit complémentaire */
.extend-products{
    background: #ffffff;
    margin-bottom:53px;
    padding:20px 10px 8px 10px;
}

.extend-products h1{
    margin-top:0px;

}

.extend-products li{
    display: inline-block;
    border:solid 1px #eee8e3;
    width:241px;

}

.extend-products .produit{
    padding: 20px 10px;
    text-align: center;
}

.produit img{
    margin:15px 0px;
}

.extend-products p{
    text-align: left;
    margin-top: 11px;
}

.discount{
    font-size: 1.2rem;
    color: #62605e;
}

.discount span{
    text-decoration: line-through;
}

.extend-products ul{
    display: flex;
    justify-content: space-around;
}

.extend-products h2{
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: left;
    margin: 0px;
    padding:0px;

}

.extend-products div ul{
    justify-content: flex-end;
}

.extend-products div li{
    width:auto;

}

.price{
    font-size: 1.8rem;
    font-weight: bold;
    color: #558540;
    line-height:15px;
}

.extend-products div .star{
    width:14px;
    height:13px;
    border:none;
    background: url("../img/star.png") no-repeat;
    margin-right: 8px;
}

.extend-products div .star:last-child{
    background: url("../img/etoile-non-select.png") no-repeat;
    margin-right: 0px;
}

.ir{
    text-indent:-9999px;
}

/* zone description produit avec tabs */
.ui-widget-content{
    border:none;
}

.description{
    margin-bottom:34px;
}

.description h2{
    margin:0px 0px 22px 0px;
}

.description h2:before{
    display: inline-block;
    content:"";
    background: url("../img/triangle-big.png") no-repeat;
    height:18px;
    width:9px;
    margin-right:13px;
}

[id="tab-descr"]{
    display: flex;
    flex-direction: row;

}

.tab-descr-content{
    display:inline-flex;
    justify-content:space-between;
}

.description .column-1{
    flex:2.75;
    margin-right:25px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    /* Hack IE */
    .description .column-1{
        flex:0;
        flex-basis: auto;
    }

    .description .column-2{
        flex:0!important;
        flex-basis: auto!important;
    }

}



.column-1 h3, .column-1 p{
    padding-left:25px;
}

.description .column-1 p{
    margin: 8px 0px;
}

.description section{
    padding: 0px 0px 20px 0px;
    border-bottom: solid 1px #eee8e3;
}

.description section:last-child{
    border:none;
    padding-bottom:0px;
}

.column-1 h3:before{
    display:inline-block;
    content: '';
    background: url('../img/check-big.png') no-repeat;
    width:20px;
    height:15px;
    margin-right:8px;
}

.description .column-2{
    flex:1;
}

.description .column-2 figure{
    padding-left: 25px;
    margin: 0px;
    max-width: 288px;
}

.description .column-2 figcaption{
  font-family: Lato;
    font-weight:bold;
    font-size:1.6rem;
    text-align: center;
}

.description .left-arrow{
    float: left;
    position: relative;
    top: -193px;
    display: block;
    padding: 6px 12px 4px 2px;
    background: #ffffff;
}

.description .right-arrow{
    float: right;
    position: relative;
    top: -193px;
    display: block;
    padding: 6px 2px 4px 12px;
    background: #ffffff;
}




/* fin de zone description produit avec tabs */



/************* ZONE RESPONSIVE *************************************/

@media screen and (max-width: 1296px) {
    /* Affichage en dessous de 1296px petit desktop + tablette */

    .main-container, .reass-content, .payment-content, .social-content, .footer-content, .cookie-content{
        width:95%;
    }

    .special:after {
        top: -15px;
        right: -50px;
    }

    .phone span{
        padding: 15px 5px 14px 5px;
    }

    .social-content .news{
        margin-right: 35px;
    }

    .speak-about ul{
        margin-right: 30px;
    }

    .special {
        padding-right: 20px;
    }
}



@media screen and (max-width: 800px) {
    /* Affichage en dessous de 800px tablette portrait*/
    .footer-content, .bloc-conseil, .social-content, .reass-content {
        flex-direction: column;
        text-align: center;
    }

    .payment-content{
        flex-direction: row;
    }

    .payment-content span{
        margin:0px;
        line-height: 36px;
    }

    .payment-content span, .payment-content ul, .payment-content div{
        flex:initial;
        padding:0px;
    }

    .payment-content ul{
        padding: 5px 0px 0px 0px;
    }

    .column-1-3 ul{
    padding: 0;
}


    .payment-content li, .payment-content li:nth-child(3){
        margin-right:5px;
    }

    .social-content{
        padding-left:0px;
        flex-direction: row;
    }

    .social-content label {
        padding: 0px 0px 5px 0px;
        display: inline-flex;
    }

    .social-content .news{
        margin:0px;
        line-height: 14px;

    }

    .social-content .special{
        padding:0px;
    }

    .speak-about ul{
        margin-right:0px;
    }
    
    .special:after{
        display: none;
    }

    .footer-content .column{
        margin:10px 0px;
    }
}

@media screen and (max-width: 715px) {
    /* tablette specifique */

    .tab-descr-content{
        flex-direction: column;
    }


}


@media screen and (max-width: 600px) {
    
    /*  Pour debug */
    /*.main{
        display: none;
    }
    /******************/
    
    /* Affichage en dessous de 600px smartphone*/
    .footer-content, .bloc-conseil, .social-content, .payment-content, .reass-content {
        flex-direction: column;
        text-align: center;
    }

    .reass-content{
        padding: 10px 0px 10px 0px;
    }

    .reass-content ul {
        flex-direction: column;
    }

    .reass-content li {
        padding:10px 0px;
        border-bottom:solid 1px #efefef;
    }

    .reass-content li:last-child{
        border:none;
    }

    .bloc-conseil .column{
        margin-right:0px;
    }

    .column-1-3 ul {
        padding: 10px 0px 0px 0px;
    }

    .social-content [id="newsletter"]{
        width:auto;
    }

    .social-content div{
        margin-bottom:15px;
    }

    /* bloc produit */
    .list-produit {
        flex-direction: column;
        align-items:center;
    }

    .extend-products .produit{
        margin-bottom:15px;
    }

    .description section:last-child {
        padding: 0px 0px 20px 0px;
    }


}



/********* FIN CODE PERSONNEL NICO   *******/


/********  CODE PERSONNEL ILDIKO  *******/


/**********************
     HEADER
***********************/


/* SECTION TOP */

.top-container{
    /* display: flex défini à la lg 29*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact > p:not(.top-orange), .localisation > p{
    color: #ffffff;
    font-size: 1.4rem;
    float: right;
    padding: 10px 0 11px 0px;
}
img.top-icone{
    padding: 10px;
}
.top-orange{
    color: #f19319;
}

/* SECTION MIDDLE */

.middle{
    width: 100%;
}
.middle-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-top: 7px;
}

.form input{
    background: url('../img/loupe.png') no-repeat right;
    background-size: 20px auto;
    padding: 0.6rem 0.5rem 0.5rem 1rem;
    outline: none;
    /* width: 30vw; /* optimale pour desktop */
}
.form input[placeholder]{
    font-style: italic;
    font-size: 1.1rem;
}

.compte_pagnier ul{
    height: 43px;
}

.compte_pagnier  li{
    display: inline-flex;
    padding: 8px 27px 8px 27px;
}
.compte_pagnier ul li:last-child{
    border-left: 1px solid #eee8e3;

}

.compte_pagnier  li a {
    display: inline-flex;
    color: #333231;
}
.compte_pagnier ul li a p{
    padding-left: 17px;
    padding-top: 6px;
}


/* SECTION MAIN NAVIGATION */


.main-navigation{
    width: 100%;
    background-color: #f7f7f7;
    border-top: solid 1px #eee8e3;
    border-bottom: solid 1px #eee8e3;
}
.main-navigation-container ul{
    width : 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* optimisé pour desktop  */
}

.main-navigation li{
    display: inline-flex;
    margin-right: 38px;
    padding-bottom: 12px;
}
.main-navigation li:last-child{
    background-color: #393939;
    align-self: flex-end;
}
.main-navigation li:last-child a{
    display: inline-flex;
    align-items: center;
}
.main-navigation li:last-child img{
    padding-left: 15px;
    padding-right: 10px;
}
.main-navigation li:last-child span{
    padding-right: 15px;
}

.main-navigation li a{
    color: #696969;
    padding-top: 16px;
}
.main-navigation li span{
    color : #f19319;
}

.main-navigation li:hover{
    border-bottom: 3px solid #558540;
}

.main-navigation li p{
    color: #f19319;
}

/* SECTION MAIN NAVIGATION OPEN */

.nav-open{
    background-color: #fff;
    border-left: 1px solid #eee8e3;
    border-right: 1px solid #eee8e3;
    border-bottom: 1px solid #eee8e3;
    display: flex;
    flex-direction: column;
    padding: 15px 0 50px 0;
}
.nav-open-container{
    flex-direction: column;
    flex-wrap: nowrap;  /* pour LAPTOP et DESKTOP */
    justify-content: space-between;
}

.sous-rubriques{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;

}



.nav-open ul li{
    margin-bottom: 1.2rem;
}

nav.nav-open-container h5 a{
    font-size: 1.2rem;
    color: #558540;
}
.nav-open-container a{
    color: #626262;
}

p:first-child{
    font-size: 1.4rem;
    color: #626262;
    padding-left: 8px;
    padding-bottom: 21px;
}


/*************************
        TRIANGLE
 ************************/

/* triangle avec immage */
.nav-open h5:after{
    content: "";
    background: url("../img/fleche.png") no-repeat;
    display: inline-block;
    width: 4px;
    height: 9px;
    margin-left: 13px
}

.sous-rubriques li:before{
    content: "";
    background: url("../img/fleche.png") no-repeat;
    display: inline-block;
    width: 4px;
    height: 9px;
    margin-right: 7px;
}


/* AVANT H5 :  triangle avec css border
.nav-open h5:after{

    content: "";
    border-color: transparent transparent transparent #558540;
    border-style: solid;
    border-width: 4.5px 0 4.5px 4px;
    width: 0;
    height: 0;
    position: relative;
    left: -5px;
    top: 2px;
}
*/



/* AVANT LI : le triangle avec le css border

.sous-rubriques ul li:before{

    content: "";
    border-color: transparent transparent transparent #558540;
    border-style: solid;
    border-width: 2px 0 1px 1px;
    width: 0;
    height: 0;
    position: relative;
    left: -1px;
    top: 2px;
}
*/


/******************************************
     ZONE RESPONSIVE POUR PARTIE HEADER
*******************************************/



/********************************************************
 *     MOBILE S-M-L : Affichage jusqu'au 425px          *
 ********************************************************/


@media screen and (max-width: 425px){

    header{
        display: flex;
        flex-direction: column;
    }

    /**************************************
          bandeau horaire et localisation
     **************************************/

    /* décaler verticalement la partie 'top' (n°tél et localisation) tout en bas  */
    .top{
        order: 1;
    }
    .top-container{
        /*justify-content: space-around;*/
        align-content: flex-start;

    }
    
    .horaire{
        display: none;
    }

    .contact, .localisation{
        /*background-color: #393939;
       /* padding-right: 1.7rem;*/

    }


    /**************************************
               logo - profil - panier
     **************************************/

    /* enlever marge et padding sur le container */
    .middle-container{
        padding: 0;
        margin: 0;
    }

    .form{
        order: 1;
    }
    .logo{
        max-width: 30vw;
    }
    .compte, .panier{
        display: none;
    }
    
    .branding, .compte_pagnier{
        background-color: #f3f3f3;
    }
    .icone-profil, .icone-panier{
        max-height: 5vw;
        max-width: 5vw;
    }
    ul.acces {
        display: flex;
        align-items: center;
    }
    .middle{
        background-color: #f3f3f3;
    }


    /**************************************
            formulaire de recherche
     **************************************/

    .un {
        display: none;
    }




    /**************************************
              navigation principale
     **************************************/

    .main-navigation-container ul{
        flex-direction: column;
        align-items: stretch;
    }

    .main-navigation li:last-child{
        background-color: #393939;
        align-self: flex-end;
    }

    .top-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



/* ajustement pour  MOBIL S  sous 320px */
@media screen and (max-width: 320px){
    header{
        display: flex;
        flex-direction: column;
    }

    .top{
        order: 1;
    }

    .top-container{

        padding: 0 5px;

    }
    .contact, .localisation{
        padding-right: 1rem;
    }

    /**************** faire rentrer les 2 icônes à côté du logo */

    .icone-profil, .icone-panier{
        flex-shrink: 1;
    }

}



/***************************************************************
 *            TABLETTE : affichage en-dessous de 768px         *
 ***************************************************************/

@media screen and (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
    }

    /**************************************
                    bandeau top
     **************************************/

    .top{
        width: 100%;
        background-color: #393939;
    }
    div.top-container{
        width: 100%;
    }
    .horaire{
        margin-right: 0.4rem;
    }
    .compte, .panier{
        display: none;
    }

    /*************************************************
                    bandeau branding : formulaire
     ************************************************/

    .deux{
        display: none;
    }

    /**************************************
                    bandeau navigation
     **************************************/

    .main-navigation-container ul{
        flex-wrap: nowrap;
    }

    .main-navigation-container li:last-child{
        flex: 1;
    }


}


/*  debug  : skip long text dans bandeau top entre 426px - 600px */
@media screen
and (min-width: 426px)
and (max-width: 600px) {
    .horaire{
        display: none;
    }
}




/******************************************************
 *               LAPTOP M - L  et DESKTOP             *
 ******************************************************/


@media screen and (max-width: 1440px){

    /* beandeau sur tout la largeur avec arrière fond en continue */
    .top{
        width: 100%;
        background-color: #393939;
    }
    .horaire{
        margin-right: 0.4rem;
    }

    /* bandeau branding */
    .form-un input {
        background: url('../img/loupe.png') no-repeat right;
        background-size: 20px auto;
        padding: 0.6rem 0.5rem 0.5rem 1rem;
        outline: none;
       /*  width: 80vw;*/
    }

    div.form-un{
        flex: 1;
        width: 100%;
        padding-left: 1rem;
    }

    div.form-deux{
        display: none;
    }

    /*  navigation open  */
    .nav-open-container{
        flex-wrap: nowrap;
    }
    h5{
        flex: 1;
    }
}



/********* FIN CODE PERSONNEL ILDIKO   *******/